
@{
    ViewData["Title"] = "Index";
}

<h1>Welcome to my book api</h1>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">


<div class="container">
    <div class="row">


        <button class="btn btn-primary">Get </button> 
        <button class="btn btn-primary"> Get/id </button>
        <button class="btn btn-warning"> Put </button>
        <button class="btn btn-success"> Post </button>
        <button class="btn btn-danger"> Delete </button>


    </div>
</div>